*{
   margin:0;padding:0;list-style: none;text-decoration: 0;
   box-sizing: border-box; font-family: sans-serif;
}

.wrapper
{

 height: 100vh;

   display: grid;
   grid-template-columns: 250px 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: "sidePanel mainPanel";
}


.sidePanel
{
   grid-area: sidePanel;
   background: fuchsia;

 display: grid;
 grid-template-columns: 10fr 80fr 10fr;
 grid-template-rows: 25px 50px 25px 135px 25px 0.75fr 9.75fr 50px;
 grid-template-areas:   "sp_spacer1 sp_spacer1 sp_spacer1"
                        "sp_appName sp_appName sp_appName"
                        "sp_spacer2 sp_spacer2 sp_spacer2"
                        "sp_userImage sp_userImage sp_userImage"
                        "sp_userMsg sp_userMsg sp_userMsg"
                        "sp_spacer3 sp_spacer3 sp_spacer3"
                        "sp_Accordion sp_Accordion sp_Accordion"
                        "sp_fixedBtm sp_fixedBtm sp_fixedBtm";

                        

}


.sidePanel.OFF
{
transform: translateX(200px);

}







               .sp_appName
               {
                  grid-area: sp_appName;
                  background: firebrick;
                  color:white;

                  display: flex;
                  justify-content: center;
                  align-items: center;
                  
               }

         


               .sp_userImage 
               {
                  grid-area: sp_userImage;
                  background: gold;
                  

                  display: flex;
                  justify-content: center;
                  align-items: center;
                 
               }

                        .sp_userImage img
                        {
                           width:125px;height: 125px;
                           border-radius: 50%;
                           border:2px solid blue ;
                           padding: 5px;
                           border-style:solid  ;
                        }


               
               .sp_userMsg
               {

                  grid-area: sp_userMsg;
                  background: darkolivegreen;

                  display: flex;
                  justify-content: center;
                  align-items: center;

               }

                     .sp_userMsg h6
                     {
                        color:white;
                     }

               
               .sp_Accordion
               {
                  grid-area: sp_Accordion;
                  background: aqua;
               }
               .sp_fixedBtm
               {
                  grid-area: sp_fixedBtm;
                  background: khaki;
               }
               .sp_spacer1
               {
                  grid-area: sp_spacer1;
                  background:orange;
               }

               .sp_spacer2
               {
                  grid-area: sp_spacer2;
                  background: orange;
               }

               .sp_spacer3
               {
                  grid-area: sp_spacer3;
                  background: orange;
               }









.mainPanel
{
   grid-area: mainPanel;
   background: blue;
   
/**/
display: grid;
grid-template-columns: 50px 8fr 1fr;
grid-template-rows: 50px 8fr 50px;
grid-template-areas: "hamburger_Section  top top"
                      "middle middle middle"
                      "bottom bottom bottom";

}


                     .hamburger_Section
                     {
                        grid-area: hamburger_Section;
                        background: green;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                     }
                     .top
                     {
                        grid-area: top;
                        background: blue;
                     }   
                     .middle
                     {
                        grid-area: middle;
                        background: hotpink;
                     }
                     .bottom
                     {
                        grid-area: bottom;
                        background: yellow;

                     }



 .hamburger_Parent
 {
   border:1px solid red;
   border-radius: 6px;

   width:40px;height:40px;
   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;
 }


 


 .hamburger_Main
 {
   border:1px solid red;
   border-radius: 5px;
   background:white;
   width:30px;height:5px;
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
 } 
 
 
 .hamburger_Main::before
 {
    content:"";
    position: absolute;
   border:1px solid red;
   border-radius: 5px;
   background:white;
   width:30px;height:5px;
   transform: translateY(-10px);

 }
 
 
 .hamburger_Main::after
 {
    content:"";
    position: absolute;
   border:1px solid red;
   border-radius: 5px;
   background:white;
   width:30px;height:5px;
   transform: translateY(10px);

 }