






.wrapper
{
    height: 100vh;
    border: 1px solid red;
    padding: 25px;
    position: relative;
}

.menu
{
    border:1px solid $myblue;
    border-radius: 8px;
    width:250px;
    overflow: hidden;
    position: relative;
  

}

.item{
    border-top: 1px solid red;
    //background-color: red;
}

.itemx .btx
{
    display: block;
    //  border:1px solid red;
      background-color: $text_Bgcolor;
      color: $text_color;
      padding: 16px 25px;
      display: flex;
      align-items: center;
      position: relative;
}
.item .btx
{
    display: block;
  //  border:1px solid red;
    background-color: $text_Bgcolor;
    color: $text_color;
    padding: 16px 25px;
    display: flex;
    align-items: center;
    position: relative;

    .iconx 
    {
      margin-right: 15px;
    }

&:hover
{
    color: $textHover_color;
    background-color: $textHover_Bgcolor;
}




    &::before
    {
        content: '';
        position: absolute;
        width: 14px;height: 14px;
        background-color: $textHover_color;
        border-bottom : 1px solid $textHover_color;
        border-right: 1px solid $textHover_color;       
        right: 30px;bottom: -7px;
        transform: rotate(45deg);
    }


  
    

}


.smenu
{
        background-color: gainsboro;
        border:1px solid green;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 0;
        
    a{
        display: block;
        border-top:1px solid rgba($color: white, $alpha: .3);
         color: white;
        padding: 10px 25px;
        margin: 10px 0px;
        position: relative;

        .icony
        {
            margin-right: 15px; 
            color: $myblue;
        }
    }


    a::before
    {
        content: '';
        position: absolute;
       // border:1px solid red;
        background-color: $myblue;
        width: 7px; height: 100%;
        top: 0;left: 0;
        opacity: 0;
    }

    a:hover
    {
      color:$myblue ;
    }
    
   a:hover::before
    {
      opacity: 0.5;
    }

}




.item:target .smenu
{
max-height: 10em;
color: red;
}