*{
    margin:0;padding:0;box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//$device_Size:("mobile":300px,"tablet":750px);



@mixin HorVertCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}





//border not needed in production
@mixin border_OnOff()
{
    border :1px solid green;
}