@import './variables';
@import './layout';
@import './sidePanel';
@import './/mainPanel';




@include MediaQuery_Eng ();

.wrapper
{

    height:100vh;
    display: grid;
    overflow-y: hidden;
    @include  border_OnOff();


   
    @include  sidePanel_Code() ;



  

    .mainPanel
    {
         

    }



}

